/*
 0000000  000000000  000   000  000    
000          000      000 000   000    
0000000      000       00000    000    
     000     000        000     000    
0000000      000        000     0000000
*/
@font-face {
  font-family: titlebarFont;
  font-weight: normal;
  font-style: normal;
  src: url("../../node_modules/kxk/styl/Bahnschrift.woff");
}
@font-face {
  font-family: fontMono;
  font-weight: bold;
  font-style: bold;
  src: url("../../node_modules/kxk/styl/Meslo.woff");
}
* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}
#main {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 30px;
  scroll: none;
  overflow: hidden;
  pointer-events: auto;
  font-size: 14px;
  font-family: titlebarFont;
}
.row {
  display: flex;
  justify-content: center;
}
.board {
  position: relative;
}
.wood,
.blank {
  height: 100%;
}
.blank {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: #666;
}
.lines {
  position: absolute;
  height: 100%;
  left: 0;
}
.shadows,
.stones {
  display: contents;
}
.shadow,
.stone {
  position: absolute;
}
.highlts {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.numbers,
.liberties,
.legends {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.hover {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.hover.white {
  background-color: rgba(255,255,255,0.533);
  border: 2px solid rgba(255,255,255,0.533);
}
.hover.black {
  background-color: rgba(0,0,0,0.533);
  border: 2px solid rgba(0,0,0,0.533);
}
.last {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.last.white {
  border: 5px solid #f0dc6e;
  opacity: 0.5;
}
.last.black {
  border: 5px solid #969600;
  opacity: 0.5;
}
.eye,
.number,
.liberty,
.legend {
  position: absolute;
  color: #000;
  font-size: 11px;
  font-family: titlebarFont;
  transform: translate(-50%, -50%);
}
.number {
  text-align: center;
  line-height: 1.56;
}
.number.black {
  color: #fff;
}
.number.white {
  color: #000;
}
.liberty.black {
  color: #fff;
}
.eye.w,
.eye.W {
  background-color: #fff;
}
.eye.b,
.eye.B {
  background-color: #000;
}
#titlebar {
  display: flex;
  flex-direction: row;
  height: 30px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: titlebarFont;
  white-space: nowrap;
  cursor: pointer;
}
.titlebar-title {
  font: titlebarFont;
  flex: 1 1;
}
.captures {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}
.quote {
  opacity: 0.5;
}
.titlebar-dot {
  display: inline-block;
  vertical-align: top;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -1px;
}
#titlebar .winicon img {
  pointer-events: all;
  padding-left: 6px;
  padding-top: 3px;
  width: 22px;
  height: 22px;
}
#titlebar .winbutton {
  flex: 0 0 45px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  font-size: 18px;
  padding-top: 2px;
  pointer-events: all;
}
#titlebar .winbutton.minimize {
  padding-top: 5px;
}
#titlebar .topframe {
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  right: 135px;
}
.menu {
  height: 30px;
  pointer-events: auto;
  flex: 0 0 0;
  display: flex;
  flex-direction: row;
}
.menuItem {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  display: inline-block;
  height: 30px;
  overflow: visible;
}
.popup {
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  font-size: 15px;
  font-family: titlebarFont;
}
.popup.titlemenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.popupItem {
  padding: 2px;
  padding-left: 12px;
  padding-right: 82px;
  cursor: pointer;
}
.popupItem.separator {
  padding: 0;
  cursor: default;
  border: 0;
  height: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}
.popupItem:last-child {
  padding-bottom: 6px;
}
.popupItem:first-child {
  padding-top: 6px;
}
.popupCombo {
  pointer-events: none;
  position: absolute;
  right: 12px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
