/*
 0000000  000000000  000   000  000    
000          000      000 000   000    
0000000      000       00000    000    
     000     000        000     000    
0000000      000        000     0000000
*/
@font-face {
  font-family: titlebarFont;
  font-weight: normal;
  font-style: normal;
  src: url("../../node_modules/kxk/styl/Bahnschrift.woff");
}
@font-face {
  font-family: fontMono;
  font-weight: bold;
  font-style: bold;
  src: url("../../node_modules/kxk/styl/Meslo.woff");
}
* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}
#main {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 30px;
  overflow: hidden;
  pointer-events: auto;
  font-size: 14px;
  font-family: titlebarFont;
}
.board {
  position: relative;
}
.wood {
  opacity: 0;
  width: auto;
}
.wood,
.blank {
  height: 100%;
}
.blank {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: #f2c871;
  opacity: 0.5;
}
.lines {
  position: absolute;
  height: 100%;
  left: 0;
}
.shadows,
.stones {
  display: contents;
}
.shadow,
.stone {
  position: absolute;
}
.highlts {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.numbers,
.liberties,
.territory,
.coordinates {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.hover {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.hover.white {
  background-color: rgba(255,255,255,0.533);
  border: 2px solid rgba(255,255,255,0.533);
}
.hover.black {
  background-color: rgba(0,0,0,0.533);
  border: 2px solid rgba(0,0,0,0.533);
}
.last {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.last.white {
  border: 5px solid #f0dc6e;
  opacity: 0.5;
}
.last.black {
  border: 5px solid #969600;
  opacity: 0.5;
}
.eye,
.number,
.liberty,
.coordinate {
  position: absolute;
  color: #000;
  font-family: titlebarFont;
  transform: translate(-50%, -50%);
}
.liberty {
  font-size: 13px;
}
.number {
  text-align: center;
  line-height: 1.56;
}
.number.black {
  color: #faeeea;
}
.number.white {
  color: #000;
}
.number.empty {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.533));
}
.liberty.black {
  color: #fff;
}
.eye.b {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.533));
  background-color: #000;
  opacity: 0.85;
}
.eye.w {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.533));
  background-color: #faeeea;
  opacity: 0.9;
}
.varee {
  background-color: rgba(80,30,0,0.05);
  box-shadow: inset 1px 1px 6px rgba(80,30,0,0.8);
  border-radius: 6px;
  position: absolute;
  border: 2px solid;
  border-left-color: rgba(17,0,0,0.067);
  border-top-color: rgba(17,0,0,0.067);
  border-bottom-color: rgba(255,255,0,0.267);
  border-right-color: rgba(255,255,0,0.267);
  overflow: auto;
}
.varee .stones,
.varee .highlts {
  position: absolute;
  display: block;
}
.varii {
  position: absolute;
  display: block;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position-x: 3.1px;
  background-position-y: 2.5px;
}
.varii.black {
  color: #faeeea;
  background-image: url("../../img/varii_black.png");
}
.varii.white {
  color: #000;
  background-image: url("../../img/varii_white.png");
}
.cursor {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.cursor.white {
  border: 10px solid #969600;
  opacity: 0.9;
}
.cursor.black {
  border: 10px solid #969600;
  opacity: 0.9;
}
.treelines {
  position: absolute;
  transform: scale3d(0.5, 0.5, 1) translate3d(-50%, -50%, 0px);
}
#titlebar {
  display: flex;
  flex-direction: row;
  height: 30px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: titlebarFont;
  white-space: nowrap;
  cursor: pointer;
}
.titlebar-title {
  font: titlebarFont;
  flex: 1 1;
}
.row {
  background-image: url("../../img/board.png");
  display: flex;
  justify-content: center;
  background-position-x: center;
  background-position-y: -24px;
  border-radius: 6px;
}
.gameInfo {
  background-image: url("../../img/board.png");
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  background-position-x: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.gameInfo .black {
  color: #000;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.533));
}
.gameInfo .white {
  color: #fff;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.867));
}
.gameInfoLeft,
.gameInfoRight {
  flex: 1 1 220px;
  width: 220px;
  padding-left: 3px;
  padding-right: 3px;
}
.gameInfoLeft {
  text-align: end;
}
.gameInfoCenter {
  font-size: 18px;
  font-weight: bold;
  flex: 1 1;
}
.gameInfoCenter .redos {
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.533));
}
.score {
  padding-left: 3px;
  padding-right: 3px;
}
.score.B {
  color: #000;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.533));
}
.score.W {
  color: #fff;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.867));
}
.redos,
.move {
  color: #a20;
  padding-left: 3px;
  padding-right: 3px;
}
.player {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 17px;
}
#titlebar .winicon img {
  pointer-events: all;
  padding-left: 6px;
  padding-top: 3px;
  width: 22px;
  height: 22px;
}
.winicon {
  padding-top: 2px;
}
#titlebar .winbutton {
  flex: 0 0 45px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  font-size: 18px;
  padding-top: 2px;
  pointer-events: all;
}
#titlebar .winbutton.minimize {
  padding-top: 5px;
}
#titlebar .topframe {
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  right: 135px;
}
.menu {
  height: 30px;
  pointer-events: auto;
  flex: 0 0 0;
  display: flex;
  flex-direction: row;
}
.menuItem {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  display: inline-block;
  height: 30px;
  overflow: visible;
}
.popup {
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  font-size: 15px;
  font-family: titlebarFont;
}
.popup.titlemenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.popupItem {
  padding: 2px;
  padding-left: 12px;
  padding-right: 82px;
  cursor: pointer;
}
.popupItem.separator {
  padding: 0;
  cursor: default;
  border: 0;
  height: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}
.popupItem:last-child {
  padding-bottom: 6px;
}
.popupItem:first-child {
  padding-top: 6px;
}
.popupCombo {
  pointer-events: none;
  position: absolute;
  right: 12px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
