/*
 0000000  000000000  000   000  000    
000          000      000 000   000    
0000000      000       00000    000    
     000     000        000     000    
0000000      000        000     0000000
*/

bgColor             = #181818
frameColor          = #111111
frameWidth          = 6px
scrollWidth         = 4px
titlebarHeight      = 30px
titlebarFontSize    = 15px

@font-face 
    font-family     titlebarFont
    font-weight     normal
    font-style      normal
    src             url("../../node_modules/kxk/styl/Bahnschrift.woff")

@font-face 
    font-family     fontMono
    font-weight     bold
    font-style      bold
    src             url("../../node_modules/kxk/styl/Meslo.woff")
    
fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0
    
board-img()
    background-image    url("../../img/board.png")

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    overflow            hidden
    -webkit-user-select none
    
#main
    position            absolute
    bottom              0
    right               0
    left                0
    top                 titlebarHeight
    overflow            hidden
    pointer-events      auto
    font-size           14px
    font-family         titlebarFont
    
// 0000000     0000000    0000000   00000000   0000000    
// 000   000  000   000  000   000  000   000  000   000  
// 0000000    000   000  000000000  0000000    000   000  
// 000   000  000   000  000   000  000   000  000   000  
// 0000000     0000000   000   000  000   000  0000000    

.board
    position            relative

.wood
    opacity             0
    width               auto
    
.wood
.blank
    height              100%

.blank
    fill-abs()
    background-color    rgb(242,200,113)
    opacity             0.5
    
.lines
    position            absolute
    height              100%
    left                0
    
.shadows
.stones
    display             contents
        
.shadow
.stone
    position            absolute
    
.highlts
    fill-abs()

.numbers
.liberties
.territory
.variations
.coordinates
    fill-abs()
    
.hover
    &.white
        background-color    #fff8
    &.black
        background-color    #0008
    position            absolute
    display             block
    transform           translate(-50%, -50%)

.last
    &.white
        border          5px solid rgb(240,220,110)
        opacity         0.5
    &.black
        border          5px solid rgb(150,150,0)
        opacity         0.5
    position            absolute
    display             block
    transform           translate(-50%, -50%)
    
.eye
.number
.varpos
.variation
.liberty
.coordinate
    position            absolute
    color               black
    font-family         titlebarFont
    transform           translate(-50%, -50%)

.liberty
    font-size           13px

.variation
.varpos
.number
    text-align          center
    line-height         1.56
    &.black
        color               #faeeea
    &.white
        color               black
    &.empty
        filter              drop-shadow(2px 2px 2px #0008)
        
.liberty.black
    color               white

.variation
    &.black
        background-color    black
    &.white
        background-color    #faeeea
     
.eye
    border-radius       100%
    
.eye.b
    filter              drop-shadow(2px 2px 2px #0008)
    background-color    black
    opacity             0.85

.eye.w
    filter              drop-shadow(2px 2px 2px #0008)
    background-color    #faeeea
    opacity             0.9
    
// 000   000   0000000   00000000   00000000  00000000  
// 000   000  000   000  000   000  000       000       
//  000 000   000000000  0000000    0000000   0000000   
//    000     000   000  000   000  000       000       
//     0      000   000  000   000  00000000  00000000  

.games
.varee
    background-color        rgba(80,30,0,0.05)
    box-shadow              inset 1px 1px 6px rgba(80,30,0,0.8)
    border-radius           6px
    position                absolute
    border                  2px solid
    border-left-color       #1001
    border-top-color        #1001
    border-bottom-color     #ff04
    border-right-color      #ff04
    overflow                hidden
    & .stones    
    & .highlts    
        position            absolute
        display             block

.varee
    overflow                auto
    
.games
    & .stones
        display             contents
        
    line-height             1
    padding                 12px
    box-sizing              border-box
    overflow                auto
        
.game
    margin-top              20px
    margin-left             20px
    display                 inline-block
    white-space             nowrap
    border-radius           6px
    padding                 12px
    
.gameboard
    position                relative

.gameIcon
    width                   64px
    height                  64px
    border-radius           6px
    &.black    
        margin-right        2px
        border              2px solid black
    &.white
        border              2px solid white
        
    
.gameRank   
    padding-left            12px
    vertical-align          top
        
.gameLink
    color                   #a00
    &:hover    
        color               #fff
        
.gameRank    
    font-size               16px
    &.black    
        color               black
    &.white    
        color               white
        
.gameName
    font-size               24px
    color                   #a00
    margin-left             -20px
            
.varii
    position                absolute
    display                 block
    text-align              center
    line-height             50px
    width                   50px
    height                  50px
    background-size         contain
    &.black
        color               #faeeea
        background-image    url("../../img/varii_black.png")
    &.white
        color               black
        background-image    url("../../img/varii_white.png")
    background-position-x   3.1px
    background-position-y   2.5px
    
.cursor
    &.white
        border          10px solid rgb(150,150,0)
        opacity         0.9
    &.black
        border          10px solid rgb(150,150,0)
        opacity         0.9
    position            absolute
    display             block
    transform           translate(-50%, -50%)
    width               30px
    height              30px
    border-radius       30px
        
.treelines
    position            absolute
    transform           scale3d(0.5, 0.5, 1) translate3d(-50%, -50%, 0px)
    
.chatline
    font-size           16px
    position            absolute
    padding             6px
    user-select         text
    &.black
        color           black
        filter          drop-shadow(0px 1px 1px #0008)
    &.white
        color           white
        filter          drop-shadow(0px 1px 1px #000d)
    &.myself
        color           rgba(0,0,0,0.5)
        filter          drop-shadow(0px 1px 1px #0008)
    &::selection 
      // color:            red
      background:       yellow
.talk
    position            absolute
    left                80px
    right               6px
    & .input
        border              none
        font-size           16px
        padding             6px
        color               rgba(0,0,0,0.5)
        filter              drop-shadow(0px 1px 1px #0008)
        background-color    transparent
        -webkit-user-select text
        -webkit-app-region  no-drag
        pointer-events      all
        width               98%
        &::selection 
          color:            red
          background:       yellow
        &:focus
            box-shadow          inset 1px 1px 3px rgba(80,30,0,0.3)
            border-radius       6px    
        
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

#titlebar
    display             flex
    flex-direction      row
    height              titlebarHeight
    box-sizing          border-box
    font-size           titlebarFontSize
    font-family         titlebarFont
    white-space         nowrap
    cursor              pointer

.titlebar-title
    font                titlebarFont
    flex                1 1
    
.row
    board-img()
    display             flex
    justify-content     center
    background-position-x  center
    background-position-y  -24px
    border-radius       6px
    
.gameInfo
    board-img()
    justify-content     center
    position            absolute
    left                50%
    transform           translate(-50%, 20%)
    & .black
        color           black
        filter          drop-shadow(0px 1px 1px #0008)
    & .white
        color           white
        filter          drop-shadow(0px 1px 1px #000d)
    background-position-x   center
    border-top-left-radius  6px
    border-top-right-radius 6px
    padding-left        6px
    padding-right       6px
    height              titlebarHeight
    display             flex
    flex-direction      row
    
.gameInfoLeft
.gameInfoRight
    flex                1 1 220px
    width               220px
    padding-left        3px
    padding-right       3px
.gameInfoLeft
    text-align          end
.gameInfoCenter         
    font-size           18px
    font-weight         bold
    flex                1 1
    & .redos
        filter          drop-shadow(0px 1px 1px #0008)
    
.score
    &.B
        color           black
        filter          drop-shadow(0px 1px 1px #0008)
    &.W
        color           white
        filter          drop-shadow(0px 1px 1px #000d)
    padding-left        3px
    padding-right       3px
        
.redos
.move
    color               #a20
    padding-left        3px
    padding-right       3px
    
.player

    padding-left        3px
    padding-right       3px
    font-size           17px
        
#titlebar .winicon img
    pointer-events      all
    padding-left        6px
    padding-top         3px
    width               22px
    height              22px
    
.winicon
    padding-top         2px
    
#titlebar .winbutton
    flex                0 0 45px
    display             inline-block
    text-align          center
    vertical-align      bottom
    font-size           18px
    padding-top         2px
    pointer-events      all
    &.minimize
        padding-top     5px

#titlebar .topframe
    height              2px
    position            absolute
    left                0
    top                 0
    right               135px
        
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menu
    height              titlebarHeight
    pointer-events      auto
    flex                0 0 0
    display             flex
    flex-direction      row
    
.menuItem
    cursor              pointer
    padding-left        10px
    padding-right       10px
    padding-top         7px
    display             inline-block
    height              titlebarHeight
    overflow            visible
            
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    z-index             9999
    position            absolute
    border-radius       3px
    font-size           titlebarFontSize
    font-family         titlebarFont
    &.titlemenu
        border-top-left-radius   0
        border-top-right-radius  0
    
.popupItem
    padding             2px
    padding-left        2 * frameWidth
    padding-right       2 * frameWidth + 70px
    cursor              pointer
    &.separator
        padding         0
        cursor          default
        border          0
        height          0
        margin-top      6px
        margin-bottom   6px
    &:last-child
        padding-bottom  frameWidth
    &:first-child
        padding-top     frameWidth

.popupCombo
    pointer-events      none
    position            absolute
    right               2 * frameWidth
    
//  0000000   0000000  00000000    0000000   000      000      
// 000       000       000   000  000   000  000      000      
// 0000000   000       0000000    000   000  000      000      
//      000  000       000   000  000   000  000      000      
// 0000000    0000000  000   000   0000000   0000000  0000000  

::-webkit-scrollbar
    width                   scrollWidth
::-webkit-scrollbar
    height                  scrollWidth
    background-color        transparent
::-webkit-scrollbar-thumb
    border-radius           scrollWidth
::-webkit-scrollbar-track
    background-color        transparent

    